## Q1. Apriori Algorithm Bakery Dataset

In [16]:
#Importing Libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [17]:
#Read Dataset
data = pd.read_csv(r'C:\Users\patil\OneDrive\Desktop\JYPN\Datasets\Bakery_dataset.csv')
data.head()

,biscuits,bread,cereal,cheese,chocolate,coffee,donuts,eggs,juice,milk,newspaper,pastry,rolls,sugar,tea,yogurt
0,True,True,False,True,False,True,False,False,False,False,False,False,False,False,False,True
1,False,True,True,True,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,False,True,False,True,True,False,False,False,False,False,False
3,False,True,True,True,False,True,False,False,True,False,False,False,False,False,False,False
4,False,True,True,False,True,False,True,False,True,False,False,False,False,False,False,False

### Generating Rules with support>25% and confidence>70%

In [18]:
#Generating Frequent Itemsets
freq_items = apriori(data, min_support=0.25, use_colnames=True)
freq_items

    support                    itemsets
0      0.52                     (bread)
1      0.36                    (cereal)
2      0.48                    (cheese)
3      0.36                 (chocolate)
4      0.36                    (coffee)
5      0.40                    (donuts)
6      0.44                     (juice)
7      0.32             (bread, cereal)
8      0.36             (bread, cheese)
9      0.32             (coffee, bread)
10     0.32            (coffee, cheese)
11     0.28         (chocolate, donuts)
12     0.28          (chocolate, juice)
13     0.36             (donuts, juice)
14     0.32     (coffee, bread, cheese)
15     0.28  (chocolate, donuts, juice)

In [19]:
#Generating Rules 
rules = association_rules(freq_items, metric='confidence', min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cereal),(bread),0.36,0.52,0.32,0.888889,1.709402,0.1328,4.320000
1,(cheese),(bread),0.48,0.52,0.36,0.750000,1.442308,0.1104,1.920000
2,(coffee),(bread),0.36,0.52,0.32,0.888889,1.709402,0.1328,4.320000
3,(coffee),(cheese),0.36,0.48,0.32,0.888889,1.851852,0.1472,4.680000
4,(chocolate),(donuts),0.36,0.40,0.28,0.777778,1.944444,0.1360,2.700000
5,(donuts),(chocolate),0.40,0.36,0.28,0.700000,1.944444,0.1360,2.133333
6,(chocolate),(juice),0.36,0.44,0.28,0.777778,1.767677,0.1216,2.520000
7,(donuts),(juice),0.40,0.44,0.36,0.900000,2.045455,0.1840,5.600000
8,(juice),(donuts),0.44,0.40,0.36,0.818182,2.045455,0.1840,3.300000
9,"(coffee, bread)",(cheese),0.32,0.48,0.32,1.000000,2.083333,0.1664,inf
10,"(coffee, cheese)",(bread),0.32,0.52,0.32,1.000000,1.923077,0.1536,inf
11,"(bread, cheese)",(coffee),0.36,0.36,0.32,0.888889,2.469136,0.1904,5.760000
12,(coffee),"(bread, cheese)",0.36,0.36,0.32,0.888889,2.469136,0.1904,5.760000
13,"(chocolate, donuts)",(juice),0.28,0.44,0.28,1.000000,2.272727,0.1568,inf
14,"(chocolate, juice)",(donuts),0.28,0.40,0.28,1.000000,2.500000,0.1680,inf
15,"(donuts, juice)",(chocolate),0.36,0.36,0.28,0.777778,2.160494,0.1504,2.880000
16,(chocolate),"(donuts, juice)",0.36,0.36,0.28,0.777778,2.160494,0.1504,2.880000
17,(donuts),"(chocolate, juice)",0.40,0.28,0.28,0.700000,2.500000,0.1680,2.400000

### Sorting rules having lift geater than 1

In [20]:
rules = rules[rules.lift>1]
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(cereal),(bread),0.36,0.52,0.32,0.888889,1.709402,0.1328,4.320000
1,(cheese),(bread),0.48,0.52,0.36,0.750000,1.442308,0.1104,1.920000
2,(coffee),(bread),0.36,0.52,0.32,0.888889,1.709402,0.1328,4.320000
3,(coffee),(cheese),0.36,0.48,0.32,0.888889,1.851852,0.1472,4.680000
4,(chocolate),(donuts),0.36,0.40,0.28,0.777778,1.944444,0.1360,2.700000
5,(donuts),(chocolate),0.40,0.36,0.28,0.700000,1.944444,0.1360,2.133333
6,(chocolate),(juice),0.36,0.44,0.28,0.777778,1.767677,0.1216,2.520000
7,(donuts),(juice),0.40,0.44,0.36,0.900000,2.045455,0.1840,5.600000
8,(juice),(donuts),0.44,0.40,0.36,0.818182,2.045455,0.1840,3.300000
9,"(coffee, bread)",(cheese),0.32,0.48,0.32,1.000000,2.083333,0.1664,inf
10,"(coffee, cheese)",(bread),0.32,0.52,0.32,1.000000,1.923077,0.1536,inf
11,"(bread, cheese)",(coffee),0.36,0.36,0.32,0.888889,2.469136,0.1904,5.760000
12,(coffee),"(bread, cheese)",0.36,0.36,0.32,0.888889,2.469136,0.1904,5.760000
13,"(chocolate, donuts)",(juice),0.28,0.44,0.28,1.000000,2.272727,0.1568,inf
14,"(chocolate, juice)",(donuts),0.28,0.40,0.28,1.000000,2.500000,0.1680,inf
15,"(donuts, juice)",(chocolate),0.36,0.36,0.28,0.777778,2.160494,0.1504,2.880000
16,(chocolate),"(donuts, juice)",0.36,0.36,0.28,0.777778,2.160494,0.1504,2.880000
17,(donuts),"(chocolate, juice)",0.40,0.28,0.28,0.700000,2.500000,0.1680,2.400000

### We were able to generate 18 rules with support 50%, Confidence 70% and Lift 1