In [15]:
#importing libararies
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [16]:
#import dataset
data = pd.read_csv(r'C:\Users\patil\OneDrive\Desktop\JYPN\Datasets\car_evaluation.csv')
data.head()

    Cost Maintainence  Doors  persons luggage safety  CarClass
0  vhigh        vhigh      2        2   small    low  unaccept
1  vhigh        vhigh      2        2   small    med  unaccept
2  vhigh        vhigh      2        2   small   high  unaccept
3  vhigh        vhigh      2        2     med    low  unaccept
4  vhigh        vhigh      2        2     med    med  unaccept

In [17]:
x_data = data.drop('CarClass', axis=1)
x_data.head(3)

    Cost Maintainence  Doors  persons luggage safety
0  vhigh        vhigh      2        2   small    low
1  vhigh        vhigh      2        2   small    med
2  vhigh        vhigh      2        2   small   high

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
#Label encoding the categorical data
le_cost = LabelEncoder()
le_main = LabelEncoder()
le_lug = LabelEncoder()
le_safe = LabelEncoder()
le_per = LabelEncoder()
le_door = LabelEncoder()

In [20]:
x_data['Cost'] = le_cost.fit_transform(x_data['Cost'])
x_data['Maintainence'] = le_cost.fit_transform(x_data['Maintainence'])
x_data['luggage'] = le_cost.fit_transform(x_data['luggage'])
x_data['safety'] = le_safe.fit_transform(x_data['safety'])
x_data[' persons'] = le_per.fit_transform(x_data[' persons'])
x_data[' Doors'] = le_door.fit_transform(x_data[' Doors'])
x_data.head()

   Cost  Maintainence   Doors   persons  luggage  safety
0     3             3       0         0        2       1
1     3             3       0         0        2       2
2     3             3       0         0        2       0
3     3             3       0         0        1       1
4     3             3       0         0        1       2

In [21]:
y_data = data.CarClass
y_data.head()

0    unaccept
1    unaccept
2    unaccept
3    unaccept
4    unaccept
Name: CarClass, dtype: object

In [22]:
#splitting the training and testing data
x_train,x_test,y_train,y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=0)

In [23]:
dtc = DecisionTreeClassifier(max_leaf_nodes=45, random_state=12)

In [24]:
#training decision tree model
dtc.fit(x_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=45, random_state=12)

In [26]:
#Plotting confudion matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test,dtc.predict(x_test) )
print(cm)
print('Acurracy = %0.2f %',accuracy_score(y_test, dtc.predict(x_test))

SyntaxError: unexpected EOF while parsing (<ipython-input-26-ad8ddb166210>, line 5)