## Q.5 Naive Bayes Alogorithm on Admission Dataset

In [2]:
#Importing Libararies
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

In [3]:
#Importing data
data = pd.read_csv(r'C:\Users\patil\OneDrive\Desktop\JYPN\Datasets\admission_data.csv')
data.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [4]:
#Generating input data
x_data = data.drop('admit', axis=1)
x_data.head(2)

   gre   gpa  rank
0  380  3.61     3
1  660  3.67     3

In [5]:
#Generating output data
y_data = data.admit
y_data.head(2)

0    0
1    1
Name: admit, dtype: int64

In [6]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=90)

In [7]:
#create a navie bayes model
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [8]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test,gnb.predict(x_test))
print(cm)

[[51  4]
 [18  7]]

In [9]:
acc = accuracy_score(y_test, gnb.predict(x_test))
print(round(acc*100,2), '%')

72.5 %